.gameContainer{
text-align:center;
padding:30px;
}

#gameArea{
position:relative;
height:600px;
overflow:hidden;
border-radius:20px;
margin-top:20px;
background:rgba(255,255,255,.08);
}

.gameHeart{
position:absolute;
font-size:40px;
cursor:pointer;
transition:.2s;
user-select:none;
}

.gameHeart:hover{
transform:scale(1.2);
}